adf/pipeline/2 Raw to Enriched.json
{
	"name": "2 Raw to Enriched",
	"properties": {
		"activities": [
			{
				"name": "Transform to Enriched",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Start Cluster If state is not running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electric/Untitled Notebook 2023-07-10 15:09:04"
				},
				"linkedServiceName": {
					"referenceName": "LS_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Transform to Dedicated",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Transform to Enriched",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Get Cluster State",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',\npipeline().parameters.p_DATABRICKS_HOST,\n'/api/2.0/clusters/get')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer '\n,pipeline().parameters.p_DATABRICKS_TOKEN\n)",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{ \"cluster_id\": \"',pipeline().parameters.p_DATABRICKS_CLUSTER_ID,'\" }')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Start Cluster If state is not running",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Cluster State",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('Get Cluster State').output.state, 'RUNNING'), 1, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Start Cluster",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',\npipeline().parameters.p_DATABRICKS_HOST,\n'/api/2.0/clusters/get')",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer '\n,pipeline().parameters.p_DATABRICKS_TOKEN\n)",
										"type": "Expression"
									}
								},
								"body": {
									"value": "@concat('{ \"cluster_id\": \"',pipeline().parameters.p_DATABRICKS_CLUSTER_ID,'\" }')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_DATABRICKS_HOST": {
				"type": "string",
				"defaultValue": "adb-4678647792941561.1.azuredatabricks.net"
			},
			"p_DATABRICKS_TOKEN": {
				"type": "string",
				"defaultValue": "dapi2aa77a620a491dd494fb43e69d815103-2"
			},
			"p_DATABRICKS_CLUSTER_ID": {
				"type": "string",
				"defaultValue": "0710-142838-jmag6q3d"
			}
		},
		"folder": {
			"name": "ELECTRIC"
		},
		"annotations": []
	}
}